/* ————————————————————————— DESIGN ELEMENTS ————————————————————————— */
/* ————————— .date-circle ————————— */
.date-circle {
    /* 
     <p class="date-circle"><strong>14 - 23 juli</strong></p> 
    */

    /* Element */
    background-color: var(--red);
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    
    /* Tekst */
    color: var(--black);
    text-align: center;
    font-size: 1.3rem;

    /* Tekst positie */
    display: flex;
    align-items: center;
    justify-content: center;
}



/* ————————— .btn -> With arrow option ————————— */
/*
    <a href="#" class="btn arrow left">
        <h3>Spot onze foto's</h3>
        <img src="./static/img/icons/arrow-right-long.svg">
    </a>
*/

.btn {
    /* Element */
    padding: 1rem;
    position: relative;
    background-color: var(--red);
    color: var(--black);

    /* Flexbox */
    display: inline-flex;
    gap: 2rem;
    align-items: center;

    /* Text */
    font-size: 1.2rem;
    
    /* Color => Add 'black' */
    &.black {
        background-color: var(--black);
        color: var(--white);

        &.arrow img {
            filter: invert();
        }
    }

    /* Arrow image => 'arrow' -> Arrow standard on right side => Left? Add 'left' */
    &.arrow img {
        width: 85px;
        height: 32px;
        transition: width 0.5s ease;
        object-fit: cover;
    }

    &.arrow.left img {
        rotate: 180deg;
        order: -1;
    }

    /* Hover effect */
    &.arrow:hover img {
        width: 115px;
        height: 32px;
    }

}



/* ————————— .social-icon ————————— */
/*
    <svg class="social-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M17.49 25v-8.21h2.95l.44-3.2h-3.39v-2.043c0-.927.276-1.558 1.697-1.558L21 9.988V7.126A25.196 25.196 0 0 0 18.445 7h-.091.005c-2.614 0-4.403 1.491-4.403 4.23v2.36H11v3.2h2.956V25h3.535z"></path></svg>
*/

.social-icon {
    background-color: var(--white);
    fill: var(--black);
	border-radius: 50%;
	scale: 1;
    display: inline-block;

    /* Hover effect */
    &:hover {
        background-color: var(--red);
    }
}



/* ————————— .calendar-view ————————— */
/* 
    <ul class="calendar-view">
        <li><a href="./events/day.html?day=14"><strong>Vr</strong>14 juli</a></li>
        <li><a href="./events/day.html?day=15"><strong>Za</strong>15 juli</a></li>
        <span></span>
        <li><a href="./events/day.html?day=16"><strong>Zo</strong>16 juli</a></li>
        <li><a href="./events/day.html?day=17"><strong>Ma</strong>17 juli</a></li>
        <li><a href="./events/day.html?day=18"><strong>Di</strong>18 juli</a></li>
        <li><a href="./events/day.html?day=19"><strong>Wo</strong>19 juli</a></li>
        <li><a href="./events/day.html?day=20"><strong>Do</strong>20 juli</a></li>
        <li><a href="./events/day.html?day=21"><strong>Vr</strong>21 juli</a></li>
        <span></span>
        <li><a href="./events/day.html?day=22"><strong>Za</strong>22 juli</a></li>
        <li><a href="./events/day.html?day=23"><strong>Zo</strong>23 juli</a></li>
    </ul>
*/

.calendar-view {
    
    /* Grid */
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(2, 100%);
    grid-column-gap: 0.125rem;
    grid-row-gap: 0.125rem;

    max-width: 37.5rem;

    /* Hide fillers */
    & span {
        display: none;
    }

    /* Day item */
    & li {
        background-color: var(--red);

        & a {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            transition: background-color 0.1s ease;
        }

        /* Hover effect */
        & a:hover {
            background-color: var(--black);
            color: var(--white);
        }

        /* Active effect */
        & a:active {
            outline: 3px solid var(--black);
            outline-offset: 3px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
            z-index: 0;
            position: relative;
        }

        /* Active day => Add 'active-day' to li */
        &.active-day {
            background-color: var(--white);
        }
    }


    /* Grid version => Add 'grid' */
    @media (width > 37.5rem) {
        &.grid {
            grid-template-columns: repeat(3, 25%);
            grid-template-rows: repeat(4, 45%);
            
            /* Text */
            & a {
                font-size: 1.2rem;
            }

            /* Filler */
            & span {
                display: block;
            }
        }
    }

    /* Line version => Add 'line' */
    @media (width > 80rem) {
        &.line {
            display: flex;
            justify-content: center;
            align-items: baseline;
            max-width: 100%;
            gap: 1px;

            & li {
                width: 7rem;
                height: 7rem;
            }

            & li.active-day {
                background-color: var(--red);
                height: 9rem;
            }
        }
    }

}



/* ————————— .activity ————————— */
/* 
    <a href="#" class="activity box large">
        <p class="date">VR 14 juli</p>
        <img src="./static/img/logos/campagne-3-N.png">
        <div>
            <h3 class="name">Workshop Jazz Fusion / The Spot</h3>
            <p class="location">Baudelohof</p>
            <p class="time">18.00 u.</p>
            <p class="price">€</p>
        </div>
    </a>
*/

.activity {
    
    position: relative;

    /* Box version => Add 'box' */
    &.box {
        & .date {
            position: absolute;
            background-color: var(--black);
            color: white;
            padding: 0.5rem;
            left: 1rem;
            top: 1rem;
        }
        
        & img {
            width: 100%;
            object-fit: cover;
        }
        
        /* Small image? => Add 'small' */
        &.small img {
            height: 55vw;
            max-height: 17rem;
        }
        
        /* Large image? => Add 'large' */
        &.large img {
            height: 65vw;
            max-height: 21rem;
        }

        & div {
            background-color: var(--black);
            color: var(--white);
            position: relative;
            bottom: 3rem;
            padding: 1rem 3rem 1rem 1rem;
            
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            max-width: calc(100% - 6rem);

            & .name {
                flex: 0 0 100%;
            }

            & .location {
                background-color: var(--red);
                display: inline-block;
                padding: 0.2rem 0.5rem;
            }

            & .price {
                display: none;
            }
        }
    }

    /* List version => Add 'list' */
    &.list {

        border: 1px solid var(--white);
        color: white;   

        @media (width < 47rem) {
            padding: 1rem;
        }

        & img {
            display: none;
        }

        & .date {
            display: none;
        }

        @media (width > 47rem) {
            display: flex;

            /* Show date => Add 'date' */
            &.date .date{
                display: block;
                flex-shrink: 0;
            }

            & p, & h3 {
                padding: 1rem;
            }

        }

        & div {
            display: flex;
            flex-direction: column;
            width: 100%;

            @media (width > 47rem) {
                flex-direction: row;
                justify-content: space-between;
            }

            & .time {
                order: -1;
            }

            @media (width > 47rem) {
                & .time {
                    flex-basis: 7rem;
                }
            }

            & .name {
                flex-grow: 1;
            }

            @media (width > 47rem) {
                & .name {
                    border-left: 2px solid var(--white);
                    border-right: 2px solid var(--white);
                }
            }

            & .location {
                flex-basis: 30%;
            }

            & .price {
                width: 4rem;
                font-size: 1.2rem;
            }

            @media (width < 47rem) {
                & .price {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    
                    padding: 0.5rem;
                    border-left: 1px solid var(--white);
                    border-top: 1px solid var(--white);
                    
                    height: 2rem;
                    width: 2rem;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

        }

    }
}

.activity:active {
    outline: none;
}