/* FONTS */
@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/Fira Sans SemiBold.woff2') format('woff2'),
		url('../fonts/Fira Sans SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2212;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/Fira Sans Bold.woff2') format('woff2'),
		url('../fonts/Fira Sans Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2212;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/Fira Sans Regular.woff2') format('woff2'),
		url('../fonts/Fira Sans Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2212;
}


/* ================================================================= */
/* ROOT */
:root {
	--black: hsl(0, 0%, 0%);
	--beige: hsl(31, 49%, 81%);
	--red: hsl(0, 79%, 57%);
	--white: hsl(0, 0%, 100%);
	--gray: hsla(0, 0%, 100%, 0.7);
}

::selection {
	color: var(--black);
	background: var(--white);
}


/* ================================================================= */
/* GENERAL */
* {
	font-family: 'Fira Sans';
}

body {
	background-color: var(--black);
}

body.open {
	overflow: hidden;
	height: 100%;
}

a {
	color: inherit;
	text-decoration: none;
	font-size: inherit;
	display: block;
}

a:active {
	outline: 2px solid var(--white);
	outline-offset: 3px;
}

ul {
	list-style: none;
	padding: 0;
}

button {
	background-color: transparent;
	border: none;
	color: inherit;
	cursor: pointer;
}


/* ================================================================= */
/* CUSTOM */
.relative {
	position: relative;
}

.max-width {
	margin: 0 auto;
	padding: 0 1rem;
	max-width: 90rem;
}

@media (width > 48rem) {
	.max-width {
		padding: 0 2.5rem;
	}
}

@media (width > 80rem) {
	.max-width {
		padding: 0 2.5rem;
	}
}



/* ================================================================= */
/* HOVER */
.hover--red:hover {
	color: var(--red);
}

.hover--red:hover svg {
	fill: var(--red);
}

.hover--white:hover {
	color: var(--white);
}

.hover--white:hover svg {
	fill: var(--white);
}

.hover--red--background:hover {
	background-color: var(--red);
}

.hover--underline:hover {
	text-decoration: underline;
}


/* ================================================================= */
/* HEADER */

header {
	color: var(--white);
	padding: 1rem 0;
}

header.open {
	color: var(--black);
	background-color: var(--red);
}

@media (width > 48rem) {
	header {
		padding: 2.5rem 0;
	}
}

@media (width > 80rem) {
	header {
		padding: 3.9rem 0;
	}
}

header svg {
	fill: var(--white);
}

header.open svg {
	fill: var(--black);
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}

.nav--right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 3;
}

@media (width > 25rem) {
	header.open .nav--right {
		gap: 2rem;
	}
}

@media (width > 48rem) {
	.nav--right {
		gap: 2rem;
	}
}

@media (width > 80rem) {
	.nav--left {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 4.5rem;
	}
}

.nav__logo {
	width: 9.375rem;
}

header.open .nav__logo {
	filter: invert();
}

@media (width > 62.5rem) {
	.nav__logo {
		width: 13.625rem;
	}
}

header li,
.nav__languages,
.nav__search {
	display: none;
}

@media (width > 25rem) {
	header.open .nav__search {
		display: flex;
	}
}

@media (width > 80rem) {
	.nav__ul li {
		display: block;
	}

	.nav__ul li::after {
		content: "";
		margin-top: 0.5rem;
		width: 1.3rem;
		height: 0.8rem;
		position: absolute;
	}

	.nav__ul li.active::after {
		border-top: 2.5px solid var(--white);
		border-left: 2.5px solid var(--white);
	}

	.nav__ul li:hover::after {
		border-top: 2.5px solid var(--white);
	}

	.nav__ul {
		display: flex;
		gap: 3.3rem;
		text-transform: uppercase;
	}
}

header.open .nav__ul {
	display: none;
}

.nav__search svg {
	scale: 0.7;
}

.nav__languages {
	display: none;
	align-items: center;
	gap: 0.3rem;
}

.nav__languages__chevron {
	rotate: 180deg;
	scale: 0.8;
}

.nav__languages--options {
	color: var(--white);
	position: absolute;
	bottom: -4rem;
	background-color: var(--black);
	border: 1px solid var(--white);
	width: 4.5rem;
	text-align: center;
	height: 5rem;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1.1rem;
}

.nav__languages--options a {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.open.nav__languages--options {
	display: flex;
}

@media (width > 48rem) {

	.nav__languages {
		display: flex;
	}

	.nav__search {
		display: block;
	}
}

.full-menu__btn svg:nth-child(2) {
	display: none;
}

header.open .full-menu__btn svg:nth-child(2) {
	display: block;
}

header.open .full-menu__btn svg:nth-child(1) {
	display: none;
}


/* ———— full-menu ———— */
.full-menu {
	display: none;
	background-color: var(--red);
	color: var(--black);

	height: 100vh;
	width: 100vw;
}

header.open .full-menu {
	display: block;
}

header.open .full-menu__nav {
	margin-top: 5rem;
	display: flex;
	gap: 4rem;
}

.full-menu__nav__days {
	margin-top: 3rem;
	width: 20rem;
	display: none;
}

@media (width > 33.125rem) {
	.full-menu__nav__days {
		display: block;
	}
}

.full-menu__nav__menu {
	width: 14rem;
}

header.open .full-menu li {
	display: inline-block;
	text-transform: uppercase;
	line-height: 3rem;
	width: 100%;
	font-size: 1.3rem;
}

header.open .full-menu li:hover {
	color: var(--white);
}

header.open .full-menu li#day { 
	position: relative;
}

header.open .days-arrow {
	display: none;
    position: absolute;
    top: 50%;
    transform: translate(10rem, -50%);
	scale: 0.9;
}

@media (width > 33.125rem) {
	header.open .days-arrow {
		display: block;
	}
}

header.open .full-menu li#day:hover .days-arrow {
	fill: var(--white);
}

header.open ul a {
	display: inline-block;
}

header.open .campagne-img {
	display: none;
	position: absolute;
	background-color: var(--beige);
	top: 0;
	right: 0;
	width: 45%;
	height: 100vh;
	max-width: 53.125rem;
}

@media (width > 81.25rem) {
	header.open .campagne-img {
		display: flex;
		align-items: center;
	}
}


/* ================================================================= */
/* FOOTER */
footer {
	color: var(--white);
	position: relative;
}

.footer__cta {
	background-color: var(--beige);
	padding: 2rem 1.5rem 3rem 1.5rem;
	color: var(--black);
}

.footer__cta__media {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	align-items: baseline;
	font-size: 0.8rem;
}

@media (width > 48rem) {
	.footer__cta__media {
		font-size: 1.2rem;
	}
}

.footer__cta__mail {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	align-items: stretch;
	margin-top: 7rem;
	margin-bottom: 5rem;

	& img {
		display: none;
		width: 70%;
	}

	@media (width > 48rem) {
		flex-direction: row;
		align-items: center;

		& img {
			display: block;
		}

		& .keep-in-touch {
			position: absolute;
			background-color: hsl(31, 49%, 81%, 0.8);
			width: 50%;
			padding: 2rem;
			right: 0;

			& input[type="email"] {
				margin: 1rem 0 2rem 0;
			}
		}
	}
	
	@media (width > 64rem) {

		& img {
			display: block;
			width: 50%;
		}

		& .keep-in-touch {
			position: relative;
			background-color: none;
			width: 100%;
			padding: 2rem;
			right: 0;

			& input[type="email"] {
				margin: 3rem 0 ;
			}
		}
	}

	& h2 {
		margin: 1rem auto;
	}

	& input[type="email"] {
		display: block;
		width: 100%;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid var(--black);
		padding: 1rem;
		margin: 3rem 0;
	}

	& input[type="email"]::placeholder {
		color: rgba(0, 0, 0, 0.75);
	}

	& input[type="submit"] {
		text-transform: uppercase;
		background-color: var(--red);
		border: none;
		padding: 0.8rem 2rem;
		font-weight: 700;
	}
	& .disclaimer {
		font-size: 0.8rem;
		margin-top: 2rem;

		& a {
			display: inline;
			color: var(--red);
			text-decoration: underline;
		}
	}

}

footer .date-circle {
	position: absolute;
	transform: translate(-50%, -4rem);
	left: 50%;
}

@media (width > 48rem) {
	footer .date-circle {
		left: 6.5rem;
    	top: 0rem;
	}
}

.footer__top__container {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	margin-bottom: 7rem;
	padding: 6.5rem 2.5rem 3rem 2.5rem;
}

@media (width > 48rem) {
	.footer__top__container {
		gap: 5rem;
		margin-bottom: 2rem;
	}
}

.footer__top {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

@media (width > 48rem) {
	.footer__top {
		flex-direction: row;
		justify-content: space-between;
	}
}

.footer__logo {
	width: 10rem;
}

.footer__hashtag {
	font-size: 1.8rem;
}

@media (width > 48rem) {
	.footer__hashtag {
		font-size: 3.8rem;
	}
}

.footer__partners {
	display: flex;
	gap: 1rem;
}

footer .socials__container {
	display: flex;
	gap: 1rem;
}

footer .socials__container a {
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
}

footer svg {
	background-color: var(--white);
	border-radius: 50%;
	scale: 1.1;
}

.footer__bottom {
	color: var(--gray);
	display: flex;
	flex-direction: column;
	gap: 2rem;
	font-size: 0.85rem;
	padding-bottom: 1rem;
}

@media (width > 48rem) {
	.footer__bottom {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		font-size: 0.7rem;
	}
}

.footer__bottom__links {
	display: flex;
	gap: 1rem;
}

@media (width > 48rem) {
	.footer__bottom__links {
		flex-shrink: 0;
	}
}

.footer__bottom__disclaimer {
	line-height: 1.8rem;
}



/* ================================================================= */
/* Index.html */
