@import url("./fonts.css");
@import url("./max-width.css");


/* ELEMENTS */
@import url("./elements/date-circle.css");
@import url("./elements/button.css");


/* HEADER & FOOTER */
@import url("./sections/header.css");
@import url("./sections/footer.css");



/* ================================================================= */
/* ROOT */
:root {
	--black: hsl(0, 0%, 0%);
	--beige: hsl(31, 49%, 81%);
	--red: hsl(0, 79%, 57%);
	--white: hsl(0, 0%, 100%);
	--gray: hsla(0, 0%, 100%, 0.7);
}

::selection {
	color: var(--black);
	background: var(--white);
}


/* ================================================================= */
/* GENERAL */
* {
	font-family: 'Fira Sans';
}

body {
	background-color: var(--black);
	overflow-x: hidden;
}

body.open {
	overflow: hidden;
	height: 100%;
}

h1 {
	color: var(--white);
	font-size: 2.5rem;
	margin: 1rem auto 5rem auto;
}

a {
	color: inherit;
	text-decoration: none;
	font-size: inherit;
	display: block;
}

a:active {
	outline: 2px solid var(--white);
	outline-offset: 3px;
}

ul {
	list-style: none;
	padding: 0;
}

button {
	background-color: transparent;
	border: none;
	color: inherit;
	cursor: pointer;
}


/* ================================================================= */
/* CUSTOM */
.relative {
	position: relative;
}


/* ================================================================= */
/* HOVER EFFECTS */
.hover--red:hover {
	color: var(--red);
}

.hover--red:hover svg {
	fill: var(--red);
}

.hover--white:hover {
	color: var(--white);
}

.hover--white:hover svg {
	fill: var(--white);
}

.hover--red--background:hover {
	background-color: var(--red);
}

.hover--underline:hover {
	text-decoration: underline;
}