/* MAIN */
@import url("../style.css");

/* ELEMENTS */
@import url("../elements/activity.css");
@import url("../elements/calendar-view.css");
@import url("../elements/searchbar.css");


/* ———————————————————————————————————————————————— */

/* day.html */
.calendar-view__container {
	margin: auto;
	margin: 1rem auto 3rem auto;
}

.calendar-view__container .calendar-view {
	margin: auto;
	width: 100%;
}

.threeRandomActivities {
	display: none;
	gap: 1rem;
	margin: 3rem auto;
	align-items: center
}

@media (width > 80rem) {
	.threeRandomActivities {
		display: flex;
	}
}

.threeRandomActivities .box {
    height: 20rem;
	width: 100%;
}

.activities {
	color: white;

	& h2 {
		font-size: 2rem;
		margin: 0.5rem auto;
	}
}

.filter {
	border: 1px solid var(--beige);

	& .filter__options {

		display: flex;
		flex-direction: column;

		& ul {
			display: flex;
			flex-wrap: wrap;
			column-gap: 2rem;
			row-gap: 1rem;
			padding: 2rem 1rem;
			border-bottom: 1px solid var(--beige);
		}

		& li {
			display: flex;
			align-items: center;
			gap: 1rem;
			color: var(--beige);
			fill: var(--beige);
		}
		
		& li::before {
			content: "";
			background-image: url(../../img/icons/rectangle.svg);
			background-size: 100%;
			width: 1.5rem;
			height: 1.5rem;
			display: block;
		}

		& div {

			display: flex;
			justify-content: space-between;
    		align-items: center;

			& button {
				fill: var(--beige);
				padding: 0.8rem;
				flex-grow: 1;
				
				display: flex;
				justify-content: center;
    			align-items: center;

				width: 100%;

				& svg {
					scale: 0.7;
				}

				&.active {
					background-color: var(--beige);
					fill: var(--black);
				}
			}

		}

		@media (width > 48rem) {

			gap: 1rem;
			flex-direction: row;
			
			& ul {
				border: none;
				padding: 0;

			}

			& div {
				order: -1;
				align-items: stretch;

				& button {
					border-right: 1px solid var(--beige);
				}
			}

		}

	}

	& .filter__options-specific {
		background-color: var(--beige);
		color: var(--black);
		list-style: none;
		padding: 3rem 4rem;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		width: 100%;
	}

	@media (width > 48rem) {
		& .filter__options-specific {
			flex-direction: row;
    		flex-wrap: wrap;
			justify-content: space-between;

			& li {
				display: flex;
				align-items: center;
				gap: 1rem;
				width: calc(50% - 0.75rem);
			}

			& li::before {
				content: "";
				display: block;
				background-size: 100%;
				background-image: url(../../img/icons/tag.svg);
				background-repeat: no-repeat;
				background-position: center center;
				height: 1rem;
				width: 1rem;
				flex-shrink: 0;
			}

			& li a:hover {
				text-decoration: underline;
			}
		}
	}

	@media (width > 75rem) {
		& .filter__options-specific {
			& li {
				width: calc(32% - 0.5rem);
			}
		}
	}

}

.filter__search {
	margin-bottom: 2rem;
}

.searchbar {
	margin: 0;
	width: 100%;
	max-width: 40rem;
}

.search-results__results {
	color: white;
	padding-bottom: 4rem;

	h2 {
		text-align: center;
	}

	.title {
		margin: 3rem auto;
		display: flex;
		justify-content: center;
		gap: 2rem;
	}
}

.filtered-events {
    display: flex;
    flex-wrap: wrap;
	align-items: center;
    gap: 1rem;
}

.activity.box {
	width: 100%;
}

@media (width > 37.5rem) {
	.activity.box {
		width: 48%
	}
}

@media (width > 62.5rem) {
	.activity.box {
		width: 32%
	}
}

.search-results__view-option {
	margin: 3rem 0rem 3rem auto;
	width: 4.5rem;
	display: flex;
	gap: 0.5rem;
}

.search-results__view-option span {
	display: block;
	width: 2rem;
	height: 2rem;

	cursor: pointer;

	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center center;
}

.search-results__view-option span.active {
	background-color: var(--red);
	fill: var(--black);
}

.search-results__view-option .box {
	background-image: url(../../img/icons/raster.svg);
}

.search-results__view-option .list {
	background-image: url(../../img/icons/list.svg);
}

.other-activities__img {
	height: 11rem;
	overflow: hidden;

	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

.other-activities__container {
    margin-bottom: 2rem;
}

@media (width > 62.5rem) {
	.other-activities__container {
		display: flex;
	}

	.other-activities__container .other-activities__img {
		width: 25%;
		height: 25%;
	}

	.other-activities__container .other-activities {
		flex-grow: 1;
		padding: 2rem 4rem;

		h2 {
			font-size: 2rem;
		}
	}
}

.other-activities {
	background-color: var(--red);
	padding: 1rem 1rem;

	h2, p {
		padding: 0.5rem 0;
	}

	.searchbar {
		margin: 0.5rem 0;
		margin-right: auto;
	}

}